.board-card__wrapper {
  width: 90%;
  align-self: center;
  border: 1px solid #aaa;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.75);
  position: relative;
}

.board-card__avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 15px;
}

.board-card__userinfo-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #444;
}

.board-card__actions {
  position: absolute;
  bottom: 3px;
  right: 15px;
  cursor: pointer;
}
