.board__error-text {
  color: #a9a9a9;
  margin-top: 20px;
  flex-grow: 1;
}

.board__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.board__column {
  background-color: #ddd;
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 200px;
}

.board__column:not(:first-child) {
  border-left: 1px solid #fff;
}

.board__title {
  font-size: 24px;
  color: #777;
  margin: 5px 0 15px 0;
}
